[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/liquorice"]
	path = themes/liquorice
	url = https://github.com/eliasson/liquorice.git
